.test-status {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#device-id-container {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #666;
    font-size: 12px;
}
